@font-face {
  font-weight: 500;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/geometriamedium.woff2") format("woff2"), url("../fonts/geometriamedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/geometriabold.woff2") format("woff2"), url("../fonts/geometriabold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/geometriaextrabold.woff2") format("woff2"), url("../fonts/geometriaextrabold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $font-primary;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: $color-primary;

  background-color: $bg-primary;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-heading {
  font-size: 47px;
  line-height: 59px;
  font-weight: 700;
  text-align: center;
}

.section-wrapper {
  padding-bottom: 90px;
  background-image: linear-gradient(to bottom, #071437 0%, rgba(31, 31, 31, 0.5) 100%), url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, center top;
  background-size: cover;
}

@media (max-width: $tablet-width) {
  .section-heading {

  }
}

@media (max-width: $mobile-width) {
  .section-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}
