.contacts {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 18px;

  font-size: 16px;
  line-height: 20px;
}

.contacts__item {
  position: relative;

  padding-left: 50px;
  margin-bottom: 20px;

  &:first-child {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;

    content: '';
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
  }
}

.contacts__item--address::before {
  left: 7px;
  background-image: url("../img/icon-contact-address.svg");
}

.contacts__item--email::before {
  left: 6px;
  background-image: url("../img/icon-contact-email.svg");
}

.contacts__item--hours::before {
  background-image: url("../img/icon-contact-hours.svg");
}

.contacts__item--phone::before {
  background-image: url("../img/icon-contact-phone.svg");
}

.contacts b {
  font-size: 16.8px;
  font-weight: 800;
  text-transform: uppercase;
}

.contacts__item--phone b {
  text-transform: none;
}

.contacts p {
  line-height: 0.9;

  margin: 0;
}

.contacts a {
  color: $color-primary;
}

@media (max-width: $tablet-width) {
  .contacts {
    justify-content: space-between;
  }

  .contacts__item {
    width: 40%;
    margin-left: 0;

    &::before {
      left: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    justify-content: space-between;
  }

  .contacts__item {
    width: 100%;
    margin-right: 0;

  }
}
