.hero {
  width: 65%;
}

.hero__heading {
  margin-bottom: 35px;

  font-size: 65px;
  line-height: 1.3;
  font-weight: 800;
}

.hero__subheading {
  font-size: 28px;
  font-weight: 700;

  color: $color-secondary;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .hero {
    width: 100%;
  }

  .hero__heading {
    font-size: 3.5em;
  }

  .hero__subheading {
    font-size: 2.5em;
  }
}

@media (max-width: $mobile-width) {
  .hero__heading {
    font-size: 1.6em;
  }

  .hero__subheading {
    font-size: 1em;
  }
}
