$font-primary: "Georgia", Arial, sans-serif;

$color-primary: #FFFFFF;
$color-secondary: #1F1F1F;

$bg-primary: #071437;
$bg-secondary: #f2f2f2;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
